h1  {
  text-align: center;
  font: Garamond;
  font-size: 40px;
  opacity: 1;
  transition: 1s opacity;
  color: white;
  background-color: black;
  width: auto;
}
.title-box{
  width: auto;
}

h1.fade-out{
 opacity: 0;
 transition: none;
}

.jumbotron{
   background-image: url("./images/homepage-jumbotron-temp.jpg");
   background-size: cover;
}

#footer{
    padding-bottom: 0px;
}
footer p{
    color: #999;
    line-height: 25px;
}
footer h4{
    color: blue;
}
