footer p{
    color: #999;
    line-height: 25px;
}
footer h2,h3{
    color: #fff;
}

footer h2{
    font-size: 18px;
}

footer .footer-top{
    background: #111;
    padding:80px 0;
}

footer .segment-one h3{
    font-family:Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

footer .segment-two h4{
    color: #fff;
    font-family:Poppins;
    text-transform: uppercase;
}

footer .segment-two h4:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

footer .segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

footer .segment-two ul li a{
    color: #999;
    text-decoration: none;
}

footer .segment-three h4{
    color: #fff;
    font-family:Poppins;
    text-transform: uppercase;
}

footer .segment-three h4:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

footer .segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

footer .segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 10px;
}

footer .segment-four h4{
    color: #fff;
    font-family:Poppins;
    text-transform: uppercase;
}

footer .segment-four h4:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.footer-bottom-text{
    text-align: center;
    background: #000;
    line-height: 75px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}
